<template name="basiccooking">
    <h1 style="margin-left: 40px; margin-bottom: 0px">Fruits & Vegetables</h1>
    <hr class="line">
    <div class="row" align="center">
        <iframe width="350" height="200" src="https://www.youtube.com/embed/4MuBsPSofI0" frameborder="0" allowfullscreen></iframe>
        <iframe width="350" height="200" src="https://www.youtube.com/embed/aF6zn-ngQvk" frameborder="0" allowfullscreen></iframe>
        <iframe width="350" height="200" src="https://www.youtube.com/embed/zqUSvmRg9YE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="row" align="center">
        <iframe width="350" height="200" src="https://www.youtube.com/embed/2557xVq22kQ" frameborder="0" allowfullscreen></iframe>
        <iframe width="350" height="200" src="https://www.youtube.com/embed/B1Q-Koq3SvY" frameborder="0" allowfullscreen></iframe>
        <iframe width="350" height="200" src="https://www.youtube.com/embed/xy2MuGVATmA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="row" align="center">
        <iframe width="350" height="200" src="https://www.youtube.com/embed/aBG2oxWu-PI" frameborder="0" allowfullscreen></iframe>
        <iframe width="350" height="200" src="https://www.youtube.com/embed/ZFtloG7ErZs" frameborder="0" allowfullscreen></iframe>
        <iframe width="350" height="200" src="https://www.youtube.com/embed/TDks82-mVI8" frameborder="0" allowfullscreen></iframe>
    </div>
    <h1 style="margin-left: 40px; margin-bottom: 0px">Seafoods</h1>
    <hr class="line">
    <div class="row" align="center">
        <iframe width="350" height="200" src="https://www.youtube.com/embed/0kVjFtmCHOA" frameborder="0" allowfullscreen></iframe>
        <iframe width="350" height="200" src="https://www.youtube.com/embed/G4e9-iiL8K0" frameborder="0" allowfullscreen></iframe>
        <iframe width="350" height="200" src="https://www.youtube.com/embed/eFJplUgx1gM" frameborder="0" allowfullscreen></iframe>
    </div>
    <h1 style="margin-left: 40px; margin-bottom: 0px">Meats</h1>
    <hr class="line">
    <div class="row" align="center">
        <iframe width="350" height="200" src="https://www.youtube.com/embed/kKK7u89X_KE" frameborder="0" allowfullscreen></iframe>
        <iframe width="350" height="200" src="https://www.youtube.com/embed/ejyxZp1vTGA" frameborder="0" allowfullscreen></iframe>
        <iframe width="350" height="200" src="https://www.youtube.com/embed/PWPm9qhi6yc" frameborder="0" allowfullscreen></iframe>
    </div>
</template>