<template name="recipeWrite">
    <form class="form-horizontal">
        <div class="panel">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="formGroupInputLarge">
                    Recipe Title
                </label>

                <div class="col-sm-9">
                    <input class="form-control" type="text" id="formGroupInputLarge"
                           placeholder="Write Down Recipe's Title">
                </div>
            </div>

            <!--레시피 단계 !-->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="formGroupInputLarge">
                    Division
                </label>

                <div class="col-sm-9">
                    <div class="checkbox form-control form-control-height">
                        <label>
                            <input type="checkbox" value="">
                            Beef
                        </label>
                        <label>
                            <input type="checkbox" value="">
                            Chicken
                        </label>
                        <label>
                            <input type="checkbox" value="">
                            Pork
                        </label>
                        <label>
                            <input type="checkbox" value="">
                            Seafood
                        </label>
                        <label>
                            <input type="checkbox" value="">
                            Vegan
                        </label>
                        <label>
                            <input type="checkbox" value="">
                            Dessert
                        </label>
                        <label>
                            <input type="checkbox" value="">
                            Fusion
                        </label>
                        <label>
                            <input type="checkbox" value="">
                            Etc
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label" for="formGroupInputLarge">
                    Recipe's Main Picture
                </label>

                <div class="col-sm-9">
                    <div class="titleImage form-control">
                        <input type="file" name="inp_upload" class="myTitleInput">
                    </div>
                </div>

            </div>

            <hr>
            <h4>Write down your recipe's step!</h4>
            <div class="recipeWriteMethod">{{>recipeWriteMethod}}</div>

            <div class="btn_writeRecipe pull-right">
                <button type="button" name="Submit" class="btn btn_write_upload">Submit</button>
                <button type="button" name="Cancel" class="btn btn_write_upload">Cancel</button>
            </div>
        </div>
    </form>
</template>

