<template name="recipeListItem">
    <!--<div class="col-md-9">-->

    <div class="grid-item">

        <a href= {{pathFor 'recipePage'}}>
            <span class="recipeGrade"></span>
            <span class="recipeName">{{this.recipeName}}</span><br>

                <img src="{{this.titlePic}}" alt="..." class="img-rounded"><br>
            <span class="recipeDesc"></span> <br>
            <span class="userName">{{this.userName}}</span><br>
        </a>
        <button class="button" name="btn_delete">delete</button>


        <!--<a href= {{pathFor 'recipePage'}}>-->
            <!--<span class="recipeGrade"></span>-->
            <!--<span class="recipeName">{{this.recipeName}}</span><br>-->

            <!--<div class="thumbnailMain">-->
                <!--<img src="{{this.titlePic}}" alt="..." class="img-rounded portraitMain"><br>-->
            <!--</div>-->
            <!--<span class="recipeDesc"></span> <br>-->
            <!--<span class="userName">{{this.userName}}</span><br>-->
        <!--</a>-->
        <!--<button class="button" name="btn_delete">delete</button>-->
        <!---->

    </div>
    <!--</div>-->
    <!--cnt_recipeListItem-->
</template>