<template name="friendList">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">친구목록</h1>
        {{#each list}}
            <div class="listdiv">
                <img src={{recipePic}} alt="..." class="img-circle "><br>
                <span class="userName">{{recipeName}}</span><br>
                <span class="userFollwer">123 / </span>
                <span class="userFollwing">123</span>
            </div>
        {{/each}}
    </div>
</template>