.ctn_sideBar_myinfo{
    width: auto;
    margin: 5px;
    margin-top: 75px;
    text-align: center;
    background-color: #4e3134;

}

.ctn_sideBar_btn{
    margin-top: 30px;
    width:180px;
    text-align: center;
}

.sideBar_myinfo_userInfo{
    font-size: large;
}

.sideBar_myinfo_userName{
    font-size: x-large;
}

.select_status_recipe{
    font-size: x-large;
    margin: 5px;
}

.ctn_write_recipe_btn{
    width:auto;
    text-align: center;
}

.select_status_recipe{
    font-size: x-large;
    margin: 5px;
}

.ctn_write_recipe_btn{
    width:auto;
    text-align: center;
}

.thumbnailProfile{
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.thumbnailProfile img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.thumbnailProfile img.portraitProfile {
    width: 100%;
    height: auto;
}

/*
* 체크박스 변경 관 련
*/
.select_status_recipe > li{
    margin : 10px;
}
