<template name="sidebar_myinfo">
    <div class="myInfo container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">

                <div class="ctn_sideBar_myinfo">
                    <img src=http://dummyimage.com/140x140/000/fff alt="..." class="img-circle "><br>
                    <span class="sideBar_myinfo_userName">{{userName}}</span><br>
                    <span class="sideBar_myinfo_nickname">{{nickname}}</span><br>
                    <span class="sideBar_myinfo_introduce">{{introduce}}</span><br>

                </div>
            </div>
        </div>
    </div>
</template>

