<template name="sidebar_menu">
    <div class="container-fluid ctn_write_recipe_btn">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar select_status_recipe">
                    <li>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="chbox_status_recipe_all" value="select_status_recipe_all">전부
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="chbox_status_recipe_bf" value="select_status_recipe_bf">아침
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="chbox_status_recipe_lunch" value="select_status_recipe_lunch">점심
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="chbox_status_recipe_dinner" value="select_status_recipe_dinner">저녁
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="chbox_status_recipe_overdinner" value="select_status_recipe_overdinner">야식
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="chbox_status_recipe_dessert" value="select_status_recipe_dessert">후식
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="chbox_status_recipe_snack" value="select_status_recipe_snack">간식
                        </label>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</template>