<template name="sidebar_menu">
    <div class="container-fluid ctn_write_recipe_btn">
        <div class="row">
            <div class="col-sm-9 col-md-9">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="beef">
                        Beef
                    </label>
                    <label>
                        <input type="checkbox" value="chicken">
                        Chicken
                    </label>
                    <label>
                        <input type="checkbox" value="port">
                        Pork
                    </label>
                    <label>
                        <input type="checkbox" value="seafood">
                        Seafood
                    </label>
                    <label>
                        <input type="checkbox" value="vegan">
                        Vegan
                    </label>
                    <label>
                        <input type="checkbox" value="dessert">
                        Dessert
                    </label>
                    <label>
                        <input type="checkbox" value="fusion">
                        Fusion
                    </label>
                    <label>
                        <input type="checkbox" value="etc">
                        Etc
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>